<div id="detail-table" class="hide">

<!-- Location Form -->
	<div class="hide" id="locationForm">
		<form action="javascript:saveLocation();" id="newLocationForm">
			<label for="location-boid" id="label">Location BoId:</label> 
			<input type="text" id="location-boid"/><br />
			<label for="location-name" id="label">Location Name:</label>
			<input type="text" id="location-name"/><br />
			<input type="submit" value="Save" id="saveLocationForm" />
			<input type="button" value="Cancel" id="cancelLocationForm" onclick="document.getElementById('locationForm').className = 'hide';
			document.getElementById('location-detail-table').className = 'show';" />
		</form>
	</div>
<!-- Location Form -->

	<div th:if="${location!=NULL}" id="location-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${location!='INVALID'}" th:value="${location.id}"
				id="detail-location-id">
				<td>Location BoId: </td>
				<td th:text="${location.boId}"></td>
				<td><input type="submit" value="Add New" id="addNewButton" onclick="addNewLocation()"/></td>
			</tr>
			<tr th:if="${location!='INVALID'}">
				<td>Location Name: </td>
				<td th:text="${location.name}"></td>
			</tr>
		</table>
	</div>
	
	<div th:if="${department!=NULL}" id="department-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${department!='INVALID'}" th:value="${department.id}"
				id="detail-department-id">
				<td>Department BoId: </td>
				<td th:text="${department.boId}" style=""></td>
				<td><input type="submit" value="Add New" id="addNewButton" onclick="addNewDepartment()"/></td>
			</tr>
			<tr th:if="${department!='INVALID'}">
				<td>Department Name: </td>
				<td th:text="${department.name}"></td>
			</tr>
			<tr th:if="${department!='INVALID'}">
				<td>Parent Department Name: </td>
				<td th:if="${department.parentDepartment!=NULL}" th:text="${department.parentDepartment.name}"></td>
				<td th:if="${department.parentDepartment==NULL}">-</td>
			</tr>
		</table>
	</div>
	
	<div th:if="${job!=NULL}" id="job-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${job!='INVALID'}" th:value="${job.id}"
				id="detail-job-id">
				<td>Job BoId: </td>
				<td th:text="${job.boId}"></td>
			</tr>
			<tr th:if="${job!='INVALID'}">
				<td>Job Title: </td>
				<td th:text="${job.jobTitle}"></td>
			</tr>
			<tr th:if="${job!='INVALID'}">
				<td>Salary: </td>
				<td th:text="${job.salary}"></td>
			</tr>
		</table>
	</div>
	
	<div th:if="${employee!=NULL}" id="employee-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${employee!='INVALID'}" th:value="${employee.id}"
				id="detail-employee-id">
				<td>Employee BoId: </td>
				<td th:text="${employee.boId}"></td>
			</tr>
			<tr th:if="${employee!='INVALID'}">
				<td>Employee Name: </td>
				<td>
				<span th:text="${employee.title}"></span>&nbsp;
				<span th:text="${employee.firstName}"></span>&nbsp;
				<span th:text="${employee.lastName}"></span>
				</td>
			</tr>
			<tr th:if="${employee!='INVALID'}" th:value="${employee.id}"
				id="detail-employee-id">
				<td>Entrance Date: </td>
				<td th:text="${employee.entranceDate}"></td>
			</tr>
			<tr th:if="${employee!='INVALID'}" th:value="${employee.id}"
				id="detail-employee-id">
				<td>Date of Birth: </td>
				<td th:text="${employee.dateOfBirth}"></td>
			</tr>
			<tr th:if="${employee!='INVALID'}" th:value="${employee.id}"
				id="detail-employee-id">
				<td>Gender: </td>
				<td th:text="${employee.gender}"></td>
			</tr>
			<tr th:if="${employee!='INVALID'}" th:value="${employee.id}"
				id="detail-employee-id">
				<td>Email: </td>
				<td th:text="${employee.email}"></td>
			</tr>
			<tr th:if="${employee!='INVALID'}" th:value="${employee.id}"
				id="detail-employee-id">
				<td>Phone: </td>
				<td th:text="${employee.phone}"></td>
			</tr>
			<tr th:if="${employee!='INVALID'}" th:value="${employee.id}"
				id="detail-employee-id">
				<td>Address: </td>
				<td>
				<span th:text="${employee.address.permanentAddress}"></span>;&nbsp;
				<span th:text="${employee.address.contactAddress}"></span>;&nbsp;
				<span th:text="${employee.address.city}"></span>;&nbsp;
				<span th:text="${employee.address.state}"></span>;&nbsp;
				<span th:text="${employee.address.country}"></span>
				</td>
			</tr>
			<tr th:if="${employee!='INVALID'}" th:value="${employee.id}"
				id="detail-employee-id">
				<td>Position: </td>
				<td th:text="${employee.position.job.jobTitle}"></td>
			</tr>
		</table>
	</div>
</div>